PORT=5000
MONGO_URI=your-mongodb-uri-here
NODE_ENV=development

JWT_SECRET=your-jwt-secret
JWT_REFRESH_SECRET=your-jwt-refesh-secret
SMTP_USER=email-id
SMTP_PASS=email-pass

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-clopud-api-key
CLOUDINARY_API_SECRET=your-cloud-api-secret

GEMINI_API_KEY=your-gemini-api-key